/* Container holding the entire mobile navigation section */
.nav-mobile-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1a1a1d;
    width: 60%;
}

/* Div containing the menu icon*/
.nav-mobile-menu{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 10px 0;
    max-height: 80px;
}

/* Icon image */
#nav-menu-icon{
    width: 50px;
    height: 50px;
    padding-right: 15px;
    cursor: pointer;
}

/* Container holding the mobile links */
.nav-mobile-links{
    position: absolute;
    top: 80px;
    width: 60%;
    height: calc(100vh - 80px);
    display: none; /* Initially hidden, will be shown when the menu is toggled */
    flex-direction: column;
    align-items: center;
    background-color: darkgrey;
}

.show-nav{
    display: flex !important;
    flex-direction: column;
}

/* ul element */
.nav-mobile-links-list{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: center;
}

.nav-mobile-links-list li{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 40px
}

/* active link state */
.nav-link-active{

}

.nav-link-text{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    text-decoration: none;
    color: white;
    background-color: #242529;
    padding: 2%;
    border-radius: 5px;
}