/* Container holding the entire mobile navigation section */
.nav-mobile-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
}

/* Div containing the menu icon*/
.nav-mobile-menu{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 10px 0;
    max-height: 80px;
}

/* Icon image */
#nav-menu-icon{
    width: 50px;
    height: 50px;
    padding-right: 15px;
    cursor: pointer;
}

/* Container holding the mobile links */
.nav-mobile-links{
    position: absolute;
    top: 70px;
    right: 0;
    width: 100%;
    height: calc(100vh - 70px);
    display: none; /* Initially hidden, will be shown when the menu is toggled */
    flex-direction: column;
    align-items: center;
    background-color: rgba(246, 247, 249, 0.97);
}

.show-nav{
    display: flex !important;
    flex-direction: column;
}

/* ul element */
.nav-mobile-links-list{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: center;
}

.mobile-nav-item{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1% auto 0 auto;
    min-height: 40px;
    color: #7DC2E7;
    width: 40%;
    border-radius: 5px;
    border: 1px solid #111111;
}

.mobile-nav-item:hover{
    cursor: pointer;
}

.mobile-nav-item a{
    width: 100%;
    padding: 15px;
    border-radius: 5px;
    background-color: white;
    text-decoration: none;
}

.nav-link-text{
    color: #111111;
}

.mobile-active{
    color: #111111 !important;
    background-color: #7DC2E7 !important;
}