@media screen and (max-width: 670px) {
    .intro-section{
        width: 100% !important;
    }

    .section-header{
        width: 100% !important;
        text-align: center !important;
    }

    .about-text{
        text-align: center !important;
    }
    .section-content{
        width: 90% !important;
        margin-left: 5% !important;
    }
}

.intro-section{
    margin: auto;
    width: 80%;
}

.intro{
    padding: 2% 0;
    border-top: 2px solid #111111;
    border-bottom: 2px solid #111111;
}

.section-header h1{
    font-size: 1.75em;
}

.section-header .text-1 {
    animation: fadeRight 1s ease-in-out;
}

.section-header .text-2 {
    animation: fadeLeft 1s ease-in-out;
}

@keyframes fadeRight {
    from {
        opacity: 0;
        transform: translateX(-50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeLeft {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.section-content{
    text-align: center;
    width: 60%;
    margin-left: 20%;
}

.section-content p{
    font-size: 1.1em;
}

.section-content .intro{
    margin-top: 5px;
}
