.content{
    position: static;
}

@media screen and (min-width: 1920px) {
    #intro-section{
        background-image: none !important;
    }

    .content{
        background-color: #eeeff0 !important;
    }
}
#intro-section{
    display: flex;
    flex-direction: column;
    padding: 0 0 175px 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    background-image: url("../../assets/images/clouds.jpg");
}

#about-section{
    margin-top: 0;
    padding-top: 100px;
}

#showcase-section{
    padding-top: 100px;
    margin-bottom: 20%;
}

.content-intro{
    min-height: calc(60vh - 70px);
}

.content-about{
    min-height: calc(60vh - 70px);
}

.content-showcase{
    min-height: calc(100vh - 70px);
}

.section-header{
    width: 60%;
    max-width: 800px;
    margin: auto;
    text-align: center;
}

.section-content{
    display: flex;
    text-align: center;
    width: 60%;
    max-width: 800px;
    margin: auto;
}

.section-content p{
    font-size: 1.1em;
}

