.content{
    position: static;
}

@media screen and (min-width: 1920px) {
    #intro-section{
        /*background-image: none !important;*/
    }
}
#intro-section{
    padding-top: 100px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    background-image: url("../../assets/images/clouds.jpg");
}

#about-section{
    padding-top: 100px;
}

#showcase-section{
    padding-top: 100px;
    margin-bottom: 20%;
}

.content-intro{
    min-height: calc(60vh - 70px);
}

.content-about{
    min-height: calc(60vh - 70px);
}

.content-showcase{
    min-height: calc(100vh - 70px);
}

.section-header{
    width: 60%;
    margin: auto;
    text-align: center;
}

