@media screen and (max-width: 670px) {
    .card{
        width: 95% !important;
    }
}

@media screen and (max-width: 600px) {
    .card-header{
        align-items: start !important;
    }

    .card-title{
        width: 70% !important;
        margin-top: 4px;
        font-size: 1.1em !important;
    }

    .card-links{
        flex-direction: column !important;
        width: 30% !important;
        justify-content: center !important;
    }

    .card-button{
        margin: 0 !important;
    }

    .link-button{
        margin-bottom: 5px;
    }
}

@media screen and (max-width: 300px) {
    .card-header{
        flex-direction: column !important;
    }

    .card-title {
        width: 100% !important;
        font-size: 1em !important;
    }

    .card-links {
        flex-direction: row !important;
        width: 100% !important;
        justify-content: start !important;
    }
}
.card{
    font-family: epilogue-medium, sans-serif;
    width: 100%;
    min-height: 300px;
    margin: 2% auto 2% auto;
    border-radius: 10px;
    padding: 15px;
    background-color: white;
    border: 1px solid #111111;
    color: #111111;
}

.card-title{
    width: 60%;
}

.card-img{
    border-radius: 5px;
    width: 100%;
}

.card-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #111111;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.card-description{
    width: 100%;
    line-height: 17px;
    padding: 10px 0 10px 0;
}

.card-links{
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: flex-end;
}

.button-container{
    display: flex;
    align-items: center;
    height: 30px;
}

.link-img{
    height: 20px;
    width: 20px;
}

.card-button{
    display: flex;
    justify-content: center;
    max-height: 25px;
    font-size: 1.1em;
    align-items: center;
    margin-left: 15px;
    padding: 5px;
    background-color: #7DC2E7;
    border: 1px solid #111111;
    border-radius: 5px;
    box-shadow: 0 6px 12px -5px rgba(0, 0, 31, .25);
}

.card-button:hover{
    cursor: pointer;
}

.link-button{
    display: flex;
    align-items: center;
    height: 25px;
    border: none;
    background-color: transparent;
}

.link-button a{
    display: flex;
    align-items: center;
}

.card-button p{
    font-family: epi, sans-serif;
    font-size: 0.9em;
    margin-right: 10px;
}
.details-col{
    display: flex;
    align-items: center;
    background-color: red;
}

.card-link{
    font-family: epilogue-regular, sans-serif;
    text-decoration: none;
}

.card-link p{
    font-size: 1.2em;
}
