@media screen and (max-width: 670px) {
    .card{
        width: 80% !important;
    }
}

@media screen and (max-width: 600px) {
    .card-header{
        align-items: center !important;
    }

    .card-title{
        width: 70% !important;
        margin-top: 4px;
        font-size: 1.1em !important;
    }

    .card-links{
        width: 30% !important;
        justify-content: center !important;
    }
}

@media screen and (max-width: 300px) {
    .card-header{
        flex-direction: column !important;
    }

    .card-title {
        width: 100% !important;
        font-size: 1em !important;
        text-align: center;
    }

    .card-links {
        flex-direction: row !important;
        width: 100% !important;
    }
}
.card{
    width: 100%;
    min-height: 300px;
    margin: 2% auto 2% auto;
    padding: 15px;
    font-family: epilogue-medium, sans-serif;
    color: #111111;
    background-color: white;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 3px #000;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.card-title{
    width: 60%;
}

.card-img{
    border-radius: 5px;
    width: 100%;
}

.card-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #111111;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.card-description{
    width: 100%;
    line-height: 17px;
    padding: 10px 0 10px 0;
}

.card-links{
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: flex-end;
}

.card-link{
    display: flex;
    justify-content: center;
    max-height: 25px;
    width: 25px;
    font-size: 1.1em;
    align-items: center;
    margin-left: 15px;
    padding: 5px;
    background-color: #7DC2E7;
    border-radius: 5px;
    box-shadow: 0 6px 12px -5px rgba(0, 0, 31, .25);
}

.card-link:hover{
    cursor: pointer;
}

.link-img{
    height: 20px;
    width: 20px;
}

.card-link p{
    font-family: epi, sans-serif;
    font-size: 0.9em;
    margin-right: 10px;
}

.card-link{
    font-family: epilogue-regular, sans-serif;
    text-decoration: none;
}

.card-link p{
    font-size: 1.2em;
}

/* Animation */
@keyframes fadeCard {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.fade-in{
    animation: fadeCard 2s;
}
