@media screen and (max-width: 670px) {
    .card-container{
        width: 90% !important;
    }
}

.card-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    max-width: 800px;
    margin: auto;
}

.card-container .alert-msg{
    padding: 5px;
    text-align: center;
}

