@media screen and (max-width: 670px) {
    .card-container{
        width: 90% !important;
    }
}

.card-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    margin: auto;
}

